html{
    height: 580px;
    width: 600px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #ededed;
}

* { font-family: 'Roboto', sans-serif; line-height:1.2; vertical-align:middle; }

#search{
    padding-left: 10px;
    margin-top: 5%;
    height: 23px;
    width: 70%;
    border-radius: 50px;
    font-size: 128%;
}

#search:focus{
    outline-width: 0;
}

#searchspace{
    height: 100px;
    background-image:url('../images/googlenow.jpg');
    background-position:50% 55%;
    margin-right: 0px;
}

#filter_table_container{
    margin-top: 10px;
}

#tf{
    text-align: center;
    margin-left: 10px;
    width: 580px;
}

.bookmark_path{
    line-height:2.5;
    color:gray;
    font-weight:400;
}

a,p{
    margin: 2px 0 2px 10px;
}

.scrollable div{
    list-style-type: none;
    color: #6b6b6b;
    font-size: 125%;
    padding: 0px;
    margin: 0px 0px 0px 10px;
}

#history, #tabs, #bookmarks{
    vertical-align: text-top;
    width: 580px;
    width: 33%;
    float: left;
    margin-left: 0.2%;
}

#results{
    width: 300%;
    left: -600px;
    position: fixed;
}

#results td {
    vertical-align: top;
    width: 600px;
}

#results{
    text-align: left;
}

.scrollable{
    height: 480px;
    overflow-y: scroll;
    overflow-x: hidden;
}

table#filters{
    opacity: 0.8;
    background-color: white;
    color: #777;
    font-size: 120%;
    width: 70%;
}

tr#filters{
    width: 100%;
}

#filters td{
    cursor:pointer;
    width: 30%;
    text-align: center;
    border-spacing: 0px;
}

#filters #bkmarks{
    border-right: 1px solid #777;
    border-left: 1px solid #777;
}

.urladdr{
    font-size: 70%;
    color: green;
    /*color: #4cb4e4;*/
}

div.selectable{
    cursor:pointer;
    overflow: hidden;
    padding:5px;
    box-shadow:0 1px 2px #aaa;
    background:white;
    margin: 8px 12px 8px 0px;
    border-radius:3px;
}

div.selectable[data-selected=true], #filters td[data-search-selected=true]{
    background-color: #bbbbbb;
}

.bmtn{
    margin-right: 10px;
    opacity: 0.8;
}

.content_holder { 
    float: left;
    width: 90%;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(71,71,71,1); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(71,71,71,1); 
}